test{}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'titleFont';
    src: local('weatherTitle'), url(./fonts/weatherTitle.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadein {
  animation: fadein 1s linear;
}

body {
    background-color: black;
}

@layer components {
    .button {
      @apply h-20 w-24 flex justify-center items-center bg-cardPrimary border-2 rounded-lg m-2 p-3 transition-all duration-500 ease-linear shadow-2xl
    }
    .card {
      @apply flex flex-col bg-cardPrimary hover:bg-purple-900 text-white border-2 bg-opacity-60 border-gray-300 rounded-md m-3 p-6 cursor-pointer shadow-md  w-auto h-xxl transition-all duration-500 ease-linear scale-0 hover:scale-x-150
    }
}